@font-face {
  font-family: 'icomoon';
  src:  url('../webfonts/icomoon.eot?70tahf');
  src:  url('../webfonts/icomoon.eot?70tahf#iefix') format('embedded-opentype'),
    url('../webfonts/icomoon.ttf?70tahf') format('truetype'),
    url('../webfonts/icomoon.woff?70tahf') format('woff'),
    url('../webfonts/icomoon.svg?70tahf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-actor:before {
  content: "\e900";
}
.icon-dancer:before {
  content: "\e901";
}
.icon-model:before {
  content: "\e902";
}
.icon-singer:before {
  content: "\e903";
}
